<!DOCTYPE html>
<html>
  <title>About page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> -->
  <body>

    <div id="header_bar" style="position: sticky; top: 0%;">
      <nav id="navigation_bar">
        <ul id="u01">
          <li id="u01"><a href="home.html">Home</a></li>
<!--           <li id="u01"><a href="home.html#contact_input">Contact</a></li>
          <li id="u01"><a href="A grouped pure CSS parallax demo by Keith Clark.htm">Parallax demo</a></li> -->
          <li id="u01"><a href="about.html">About</a></li>
        </ul>
      </nav>
    </div>

    <div class="bgimg">
      <div class="center">
        <h1 class="" style="color: white; font-size: 48px;">COMING SOON</h1>
        <hr class="" style="margin:auto;width:40%">
        <p class="">35 days left</p>
      </div>
    </div>
  </body>
</html>