<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- To ensure proper interpretation and correct search engine indexing, both the language and character encoding should be define ad early as possible in a document. -->
        <meta charset="UTF-8">
        <!-- The viewport is the user's visible area of a web page. It varies with the device, and will be smaller on a mobile phone than on a computer screen. -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Udemy alpha-blog</title>
    </head>
    <body>
        <!-- Here we using 2 class: center and jumbotron -->
        <div class="center jumbotron">
            <h1>ALPHA BLOG</h1>
            <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
        </div>
    </body>
    </html>