<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- To ensure proper interpretation and correct search engine indexing, both the language and character encoding should be define ad early as possible in a document. -->
    <meta charset="UTF-8">
    <!-- The viewport is the user's visible area of a web page. It varies with the device, and will be smaller on a mobile phone than on a computer screen. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udemy alpha-blog</title>
    <!-- <style type="text/css">
    #header{
    max-width: 100%;
    height: 280px;
    text-align: center;
    line-height: 280px; /* 設定文字行高 */
    font-size: 48px;
    color: #fffaf3;
    font-weight: bold; /* 設定文字粗細*/
    /* background-image: url("../../../../assets/images/bg1.jpeg"); */
    background-image: url("bg1.jpeg");
    background-size: 100%;
    /* background-attachment: fixed; */
    background-color: darkcyan;
    }
    #sidebar{
    width: 50%;
    height: 540px;
    float: left;
    text-align: center;
    /* line-height: 280px; */
    font-size: 15px;
    color: #2f4f4f;
    font-weight: bold;
    background-color: #cecece;
    }
    #body{
    width: 50%;
    height: 540px;
    text-align: center;
    /* line-height: 280px; */
    font-size: 15px;
    color: darkcyan;
    font-weight: bold;
    background-color: #8FBC8F;
    float: left;
    }
    #footer{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 15px;
    color: #fffaf3;
    font-weight: bold;
    background-color: darkcyan;
    }
    ul#u01 {
    list-style-type: none;
    line-height: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    }
    li#u01 {
    float: left;
    }
    li#u01 a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    }
    li#u01 a:hover {
    background-color: #111111;
    }
    </style> -->
  </head>
  <body>
    <div id="header_bar" style="position: sticky; top: 0%;">
      <nav id="navigation_bar">
        <ul id="u01">
          <!-- <li id="u01"><a href="home.html">Home</a></li> -->
          <!-- 用 erb 語法改寫 Home 的超連結： -->
          <li id="u01"><%= link_to 'Home', root_path%>


          <!-- <li id="u01"><a href="home.html#contact_input">Contact</a></li> -->
          <!-- <li id="u01"><a href="A grouped pure CSS parallax demo by Keith Clark.htm">Parallax demo</a></li> -->
          <li id="u01"><a href="about.html">About</a></li>
        </ul>
      </nav>
    </div>
    <div id="header" style="font-weight: 900;">Udemy alpha-blog</div>
    <div id="sidebar">
      <h1>Side bar section</h1>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero neque, unde, mollitia, voluptates ab facilis accusantium voluptate aliquid repellat nihil esse debitis distinctio quae consequatur omnis eligendi repellendus sed velit.
      </span>
    </div>
    <div id="body">
      <h1>Body section</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam aliquid, a, commodi alias quisquam corporis esse sit iure rem accusamus ullam fugit amet. Excepturi delectus omnis non doloremque incidunt?</p>
    </div>
    <div style="clear:both;"></div> <!-- 清除這行以上的浮動效果，讓 footer 正常顯示 -->
    <div id="footer">Footer section</div>
  </body>
</html>